[mysqld]
datadir = /var/lib/mysql
# 日本向け設定: タイムゾーンと文字エンコーディングの設定
default-time-zone = '+09:00'
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'

# 必要に応じて追加のローカル設定を記述してください
